body {
  margin: 0 4em;
  min-width: 32em;
  text-align: left;
  font-size: 100.01%;
  position: relative;
}
header {
  padding: 1em 0;
  border-bottom: solid 2px #955d26;
}
#pageh a  {
  margin: 0 .6em;
}
header .ext {
  position: absolute;
  right: 0;
}
header a img {
  width: 2em;
  border: 0;
}
footer {
  margin: 2em auto 2em;
  border-top: solid 2px #955d26;
  text-align: center;
}
footer p {
  line-height: 2;
  font-size: .8em;
  color: #555;
}
article {
  margin: .5em 0;
  text-align: justify;
}
article header {
  padding: 0;
	margin-bottom: 1em;
}
article h2 {
  margin: 2em 0 0;
}
article nav {
  margin: 2em auto .2em;
  color: #777;
}
article nav .next {
  position: absolute;
  right: 0;
}
.date, .tags {
  display: inline-block;
  font-size: .7em;
  width: 49.6%;
  margin: 0;
  padding: 0;
  border: 0;
}
.tags {
  text-align: right;
}
ul.postlist, ul.linklist {
  margin: 2em auto;
  padding: 0;
}
ul.postlist li {
  margin: 1em auto;
  list-style-type: none;
  font: 100% monospace;
}
ul.linklist li {
  margin: 1em auto;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #955d26;
}
ul.linklist li p {
  margin: 0;
  padding: 0;
}
hr {
  color: #955d26;
  border:solid 1px #955d26
}
pre, code {
  color: #000000;
  background-color: #ddd;
}
pre {
  padding: .3em;
  border: 1px solid #888;
  margin: 10px;
}
blockquote {
  margin-left: 1.3em;
  padding-left: 1.3em;
  border-left: solid 1px #955d26;
}
p.timestamp {
  margin: 0;
  padding: 0;
  font-size: 60%;
  color: #333;
}
p.with_timestamp {
  margin-bottom: 0;
  padding-bottom: 0;
}
