body {
  /*background-image: url(/images/pattern.png);*/
  margin: 0 50px;
  width: 640px;
  text-align: left;
  font-size: 100.01%;
  position: relative;
}
header {
  padding: 12px 0;
  border-bottom: solid 2px #955d26;
}
#pageh a  {
  margin: 0 10px;
  font-size: 0px;
}
header .ext {
  position: absolute;
  right: 0px;
}
header a img {
  width: 32px;
  height: 32px;
  border: 0;
}
footer {
  margin: 0 auto 24px;
  border-top: solid 2px #955d26;
}
article {
  padding: 12px 0;
  text-align: justify;
}
article header {
  padding: 0;
	margin-bottom: 1em;
  /*border: none;*/
}
article h2 {
  margin:2em 0 0;
  /*padding:.5em 0;*/
}
article nav {
  margin: 2em auto .2em;
  color: #777;
}
article nav .next {
  position: absolute;
  right: 0px;
}
.date, .tags {
  display: inline-block;
  font-size: .7em;
  width:49.6%;
  margin: 0;
  padding: 0;
  border: 0;
}
.tags {
  text-align: right;
}
ul.postlist, ul.linklist {
  margin: 2em auto;
  padding:0;
}
ul.postlist li {
  margin: 1em auto;
  /*display: block;*/
  list-style-type: none;
  font: 100% monospace;
}
ul.linklist li {
  margin: 1em auto;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #955d26;
}
ul.linklist li p {
  margin:0;
  padding:0;
}
hr {
  color: #955d26;
  border:solid 1px #955d26
}
pre, code {
  color: #000000;
  background-color: #bbb;
}
pre {
  padding: 5px;
}
blockquote {
  margin-left: 20px;
  padding-left: 20px;
  border-left: solid 1px #955d26;
}
