<!DOCTYPE HTML>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">-->
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="aiBo">
    <link rel="stylesheet" type="text/css" href="/css/syntax.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="alternate" type="application/atom+xml" href="/atom.xml">
  </head>
  <body>
    <a name="" />
    <header id="pageh">
      <a href="/"><img src="/images/icon.png" alt="Home"></a>
      <a href="atom.xml"><img src="/images/feed.png" alt="Feed"></a>
      <span class="ext">
        <a href="https://github.com/aibor"><img src="/images/Octocat.png" alt="aibor@github.com"></a>
        <a href="http://last.fm/user/The_Howlin"><img src="/images/lastfm.png" alt="The_Howlin@last.fm"></a>
        <a href="https://diasp.org/u/aibo"><img src="/images/diaspora.png" alt="aiBo@diaspora"></a>
      </span>
    </header>
    <article>
      {{ content }}
    </article>
    <footer>
    <center><a href="#">top</a></center>
    </footer>
  </body>
</html>
