<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body>
    <div id="header">
      <a href="/"><img src="/images/icon.png" alt="Home"></a>
      <a href="https://github.com/aibor"><img src="/images/Octocat.png" alt="aibor@github.com"></a>
      <a href="atom.xml"><img src="/images/feed.png" alt="Feed"></a>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="footer">
        background image pattern by <a href="http://www.squidfingers.com/patterns" title="Squidfingers / Patterns">Squidfingers</a>
    </div>
  </body>
</html>
