---
layout: default
---
<header>
          <h2>{{ page.title }}</h2>
          <span class="date">Erstellt: {{ page.date | date_to_string }}</span>
          <span class="tags">Tags: {{ page.tags | join " " }}</span>
        </header>
        {{ content }}
        <nav>
          {% if page.previous %}
            <a rel="prev" href="{{ page.previous.url }}" 
              title="{{ page.previous.title }}">
          {% endif %}
              &larr; Vorheriger Artikel
          {% if page.previous %}
            </a>
          {% endif %}
          <span class="next">
          {% if page.next %}
            <a rel="next" href="{{ page.next.url }}" 
              title="{{ page.next.title }}">
          {% endif %}
              Nächster Artikel &rarr;
          {% if page.next %}
            </a>
          {% endif %}
          </span>
        </nav>
