---
layout: default
---
<div class="page-nav-top">
        <span class="page-nav-item">
        {% if page.previous %}
          <a rel="prev" href="{{ page.previous.url }}" 
            title="View {{ page.previous.title }}">
        {% endif %}
            &larr; View previous article
        {% if page.previous %}
          </a>
        {% endif %}
        </span>
        <span class="page-nav-item">
          <a rel="top" href="{{ site.url }}" 
            title="Go Home">
            Home
          </a>
        </span>
        <span class="page-nav-item">
        {% if page.next %}
          <a rel="next" href="{{ page.next.url }}" 
            title="View {{ page.next.title }}">
        {% endif %}
            View next article &rarr;
        {% if page.next %}
          </a>
        {% endif %}
        </span>
      </div>
      <div id="post-content">
        <h2>{{ page.title }}</h2>
        <span class="date">Erstellt: {{ page.date | date_to_string }}</span>
        <span class="tags">Tags: {{ page.tags | join " " }}</span>
        {{ content }}
      </div>
